{% extends "base.html" %}
{% block title %} Add member {% endblock %}
{% block extra_css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add-members.css')}}">
    {% endblock%}
{% block content %}

<div class="member-page-container">
    <div class="member-modal">
        <div class="member-modal-header">
            <h2 class="member-modal-title topheading">Add New Member</h2>
            <a href="{{ url_for('library.dashboard') }}" class="member-modal-close">&times;</a>
        </div>

        <form method="POST" action="{{ url_for('library.add_member') }}" class="member-form">

            <div class="form-group">
                <label for="member_id" class="form-label">Member ID</label>
                <input type="text" id="member_id" name="member_id"
                       class="form-input"
                       placeholder="e.g. 1001" required>
            </div>

            <div class="form-group">
                <label for="member_name" class="form-label">Member Name</label>
                <input type="text" id="member_name" name="member_name"
                       class="form-input"
                       placeholder="Enter full name" required>
            </div>

            <div class="form-group">
                <label for="member_department" class="form-label">Member Department</label>
                <input type="text" id="member_department" name="member_department"
                       class="form-input"
                       placeholder="Enter department" required>
            </div>

            <div class="form-group">
                <label for="member_semester" class="form-label">Member Semester</label>
                <input type="number" id="member_semester" name="member_semester"
                       class="form-input"
                       placeholder="Enter semester" min="1" required>
            </div>

            <button type="submit" class="btn-primary member-submit-btn">
                Add Member
            </button>

        </form>
    </div>
</div>


{% endblock %}