{% extends "base.html" %}
{% block title %} Books {% endblock%}
{% block extra_css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css')}}">
    {% endblock%}
{% block content %}

<h1 class="topheading">Book Details</h1> <br>

<div class="library-header-right">
            <button  class="/add-books" onclick = "location.href='{{url_for('library.add_book')}}'"> 
                <span class="btn-icon">+</span>
                Add Books
                </button>

            <a href="/" class="btn-back">← Back</a>
        </div>
    </div>

<section class="table">
<table>
    <tr>
        <th>ID</th>
        <th>Book Name</th>
        <th>Total Copies</th>
    </tr>

    {% for book in books %}
    <tr>
        <td> {{book.book_id}} </td>
        <td> {{book.book_name}} </td>
        <td> {{book.total_copies}} </td>
    </tr>
     {% endfor %}

</table>
</section>

{% endblock%}